<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CsQuery" version="1.3.4" targetFramework="net472" />
  <package id="FSharp.Core" version="4.5.2" targetFramework="net472" />
  <package id="HtmlAgilityPack" version="1.11.26" targetFramework="net472" />
  <package id="IKVM" version="8.1.5717.0" targetFramework="net472" />
  <package id="Nancy" version="2.0.0" targetFramework="net472" />
  <package id="ScrapySharp" version="3.0.0" targetFramework="net472" />
  <package id="System.Runtime.Caching" version="4.5.0" targetFramework="net472" />
</packages>